// @use "swiper/scss";
// @use "swiper/scss/navigation";
// @use "swiper/scss/pagination";
@use "../../../style/variables" as *;

.restock {
  // overflow: hidden;
  width:100%;
  .restockItem {
    display: block;
    position: relative;

    transition: transform 0.4s ease;
    &:hover {
      transform: scale(1.05);
    }
    img {
      display: inline-block;
      background-color: $neutral-100;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      z-index: 1;
    }
    .badge {
      position: absolute;
      top: 0;
      left: 0.5rem;
      z-index: 2;
      background-color: $primary-100;
      padding: 0.5rem 0.75rem;
      color: $primary-400;
    }
    &:hover {
      transform: scale(1.05);
    }
  }

  .checkMore{
    display: none;
    color: $neutral-600;
  }
}
