@use "../../../style/variables" as *;

.productBreadCrumb {
  ol {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    a {
      color: $neutral-600 !important;
      font-weight: 500;
      & .active{
        color: $neutral-900 !important;
        font-weight: 700;
      }
    }

    // before 寫法
    .breadcrumbItem + .breadcrumbItem::before{
      content: '/';
      padding: 0 0.75rem;
      color: $neutral-300 !important;
      font-weight: 700;
    }

    // after 寫法
    // li {
    //   font-size: 1.125rem !important;

    //   &::after {
    //     content: "/";
    //     color: $neutral-600;
    //     margin-left: 0.75rem;
    //     margin-right: 0.75rem;
    //   }

    //   &:last-child::after {
    //     content: none; // 最後一個 li 不顯示斜線
    //   }
    // }

    
  }
  
}
