@use "../../../style/variables" as *;
.about {
  border-bottom: 1px solid $neutral-300;
  img {
    display: block;
    width: 100%;
  }
  .textContent {
    padding-inline: 10%;
  }
  @media (max-width:766.98px) {
    .textContent {
      padding-inline: 0;
    }
  }
}
