@use "./variables" as *;
html {
  scrollbar-gutter: stable; // 保留捲軸空間，防止頁面切換時 nav 位移
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-basic;
  font-size: $fz-regular;
  line-height: $lh-text;
  letter-spacing: $ls-regular;
  font-weight: $fw-normal;
  color: $neutral-900;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; // 避免圖片出現下方的不預期間隔
}

// 連結通用樣式
a {
  text-decoration: none;
  color: $neutral-900;
}

a:active {
  font-weight: 600;
}
