
/* 顏色 */
$primary-500: #477A11;
$primary-400: #57A203;
$primary-300:#C0FA73;
$primary-200:#E8FEC5;
$primary-100:#F5FEE7;

$neutral-900:#212529;
$neutral-600:#6C757D;
$neutral-500:#ADB5BD;
$neutral-300:#DEE2E6;
$neutral-100:#F8F9FA;
$neutral-0: #FFFFFF;

/* 字體 */
$font-basic: "Baloo 2", sans-serif;
$fz-regular: 1.125rem;

/* 字種 */
$fw-normal:425;

/* 行高 */
$lh-text: 1.5;
$lh-title: 1.2;

/* 字距 */
$ls-regular: 0.07em;

/* 圓角 */
$radius-md: 0.75rem; 
$radius-sm: 0.25rem;
