
/* 顏色 */
$primary-400: #57A203;
$primary-100:#F5FEE7;

$neutral-900:#212529;
$neutral-600:#6C757D;
$neutral-300:#DEE2E6;
$neutral-100:#F8F9FA;
$neutral-0: #FFFFFF;

/* 字體 */
$font-basic: "Baloo 2", sans-serif;
$fz-regular: 1 rem ;

/* 字種 */
$fw-normal:400;

/* 行高 */
$lh-text: 1.5;
$lh-title: 1.2;

/* 字距 */
$ls-regular: 0.05em;
