@use '../../../style/variables' as *;

.hero{
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../../assets/BrandStory/BrandHero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    color:$neutral-0;
    padding-top: 9.4375rem;
    padding-bottom: 9.4375rem;
    width:100vw;
}