@use "../style/variables" as *;
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;


  img {
    display: inline-block;
    margin-right: 3rem;
  }

  .navLink {
    color: $neutral-900;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: 500;
    position: relative; // 必要，讓 ::after 定位用

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $primary-400;

      transform: scaleX(0); // 初始寬度為 0
      transform-origin: left; // 從左側開始展開
      transition: transform 0.3s ease;
    }

    &:hover {
      color: $primary-400;

      &::after {
        transform: scaleX(1); // hover 時展開到全寬
      }
    }
  }

  .userIcon{
    color: $neutral-900;
  }
}
